# Download the images from Wu+18

Download the images from Wu+18. I have used the RGZID when saving images. The FIRSTID saved by Wu+18 in their full_catalog.csv file is slightly different. Test to make sure they line up and it is just a .replace('RGZ','FIRST')

In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('wise_reprojected.txt', 'r') as images:
    files = images.read().split()

print(files[:10])
files = [i.replace('s.fits','').replace('RGZ','FIRST') for i in files]
print(files[:10])
clipped = [i[:-3] for i in files]
print(clipped[:10])

['RGZJ000001.3+044129s.fits', 'RGZJ000007.0+081645s.fits', 'RGZJ000015.8+100224s.fits', 'RGZJ000018.1+143416s.fits', 'RGZJ000023.8+143551s.fits', 'RGZJ000024.0+122953s.fits', 'RGZJ000032.6+053634s.fits', 'RGZJ000038.2+121212s.fits', 'RGZJ000039.3+041134s.fits', 'RGZJ000042.3+143545s.fits']
['FIRSTJ000001.3+044129', 'FIRSTJ000007.0+081645', 'FIRSTJ000015.8+100224', 'FIRSTJ000018.1+143416', 'FIRSTJ000023.8+143551', 'FIRSTJ000024.0+122953', 'FIRSTJ000032.6+053634', 'FIRSTJ000038.2+121212', 'FIRSTJ000039.3+041134', 'FIRSTJ000042.3+143545']
['FIRSTJ000001.3+044', 'FIRSTJ000007.0+081', 'FIRSTJ000015.8+100', 'FIRSTJ000018.1+143', 'FIRSTJ000023.8+143', 'FIRSTJ000024.0+122', 'FIRSTJ000032.6+053', 'FIRSTJ000038.2+121', 'FIRSTJ000039.3+041', 'FIRSTJ000042.3+143']

In [3]:
wu_csv = pd.read_csv('../rgz_rcnn/data/RGZdevkit2017/RGZ2017/ImageSets/Main/full_catalogue.csv')

In [4]:
wu_csv.head()

,catalog_id,first_id,num_cpnts,num_peaks,cpnts_ras,cpnts_decs,ang_extent,cl,training
0,72812,FIRSTJ000007.0+081644,1,1,0.0293334898173,8.27921811887,24.132834,0.750000,1
1,90834,FIRSTJ000224.9+120548,1,1,0.603907164255,12.0969514645,21.095924,1.000000,1
2,45645,FIRSTJ000235.0+040644,1,1,0.64601707519,4.11220785924,23.199435,0.890909,1
3,8712,FIRSTJ000239.8+105908,1,1,0.665720487019,10.9854154149,16.416587,0.625000,1
4,7276,FIRSTJ000315.0+111543,3,3,0.829248837542;0.812907986028;0.791904183729,11.2687369466;11.2618245489;11.2510806861,144.315582,0.774194,1

In [5]:
 wu_csv['first_id_clipped'] = wu_csv['first_id'].str[:-3]

In [6]:
wu_csv[['first_id','first_id_clipped']].head()

                first_id    first_id_clipped
0  FIRSTJ000007.0+081644  FIRSTJ000007.0+081
1  FIRSTJ000224.9+120548  FIRSTJ000224.9+120
2  FIRSTJ000235.0+040644  FIRSTJ000235.0+040
3  FIRSTJ000239.8+105908  FIRSTJ000239.8+105
4  FIRSTJ000315.0+111543  FIRSTJ000315.0+111

In [7]:
present_in_files = wu_csv.apply(lambda x: x['first_id_clipped'] in clipped, axis=1)

In [8]:
print(np.sum(present_in_files), ' matches have been found...')

2913  matches have been found...

In [9]:
rgz = pd.read_csv('static_rgz_flat_2016-08-02_full.csv')

/Users/gal16b/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (72,73) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
wu_csv.head()

,catalog_id,first_id,num_cpnts,num_peaks,cpnts_ras,cpnts_decs,ang_extent,cl,training,first_id_clipped
0,72812,FIRSTJ000007.0+081644,1,1,0.0293334898173,8.27921811887,24.132834,0.750000,1,FIRSTJ000007.0+081
1,90834,FIRSTJ000224.9+120548,1,1,0.603907164255,12.0969514645,21.095924,1.000000,1,FIRSTJ000224.9+120
2,45645,FIRSTJ000235.0+040644,1,1,0.64601707519,4.11220785924,23.199435,0.890909,1,FIRSTJ000235.0+040
3,8712,FIRSTJ000239.8+105908,1,1,0.665720487019,10.9854154149,16.416587,0.625000,1,FIRSTJ000239.8+105
4,7276,FIRSTJ000315.0+111543,3,3,0.829248837542;0.812907986028;0.791904183729,11.2687369466;11.2618245489;11.2510806861,144.315582,0.774194,1,FIRSTJ000315.0+111

In [11]:
rgz[rgz['catalog_id'] == 72812]

,catalog_id,rgz_name,zooniverse_id,overedge,radio.ra,radio.dec,consensus.ir_ra,consensus.ir_dec,consensus.n_total,consensus.n_radio,...,SDSS.photo_redshift,SDSS.photo_redshift_err,SDSS.spec_redshift,SDSS.spec_redshift_err,SDSS.morphological_class,SDSS.spectral_class,SDSS.number_matches,duplicate_sources.share_components,duplicate_sources.match_components,duplicate_sources.WISE_cat_mismatch
64862,72812,RGZJ163016.2+155542,ARG0002lx4,0,247.567648,15.928609,247.567915,15.928447,17,17,...,-99.0,-99.0,-99.0,-99.0,-99,-99,0,-99,-99,-99

In [12]:
import sys
sys.path.append("..")
# Assume the download_images file is the directory above
from download_images import make_dir, reproject, _first, _wise